*{
    margin: 0;
    padding: 0;
}


.ajao{
    background-color: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader2{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    /* border: 4px solid #f1f1f1 ; */
    border-radius: 50%;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 1),
    10px 10px 10px rgba(0, 0, 0, .1),
    inset -10px -10px 15px rgba(255, 255, 255, 1),
    inset 10px 10px 10px rgba(0, 0, 0, .1);
}

.loader2 span{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(to right,#14ffe9,#ffeb3b,#ff105e);
    /* filter: blur(20px); */
    animation: animate2 0.5s linear infinite;
}
@keyframes animate2 {
    0%{
        transform: rotate(0deg);
    }
    /* 25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg)
    } */
    100%{
        transform: rotate(360deg);
    }
}

.loader2::before{
    content: '';
    position: absolute;
    top:25px;
    left: 25px;
    bottom: 25px;
    right: 25px;
    background: #f1f1f1;
    z-index: 10;
    border-radius: 50%;
    border: 4px solid #f1f1f1;
    box-shadow:inset -10px -10px 15px rgba(255, 255, 255, 1),
                inset 10px 10px 10px rgba(0, 0, 0, .1);

}